.pedido-container {
    color: white;
    font-family: 'Playfair Display', serif;
    max-width: 700px;
    margin: 190px auto 40px auto;
    padding: 20px;
}

.titulo-pedido {
    font-size: 30px;
}

.tabla-pedido {
    margin-bottom: 25px;
}

.fila-pedido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(9, 14, 20, 0.85);
    border: 2px solid #daaf3b;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.col-nombre {
    flex: 1;
    font-weight: bold;
    color: #daaf3b;
}

.total-pedido {
    margin-top: 15px;
    margin-bottom: 30px;
}

.datos-comprador {
    background-color: rgba(63, 12, 12, 0.85);
    border: 2px solid #daaf3b;
    border-radius: 10px;
    padding: 20px;
}

.datos-comprador input {
    border: 2px solid #daaf3b;
    border-radius: 10px;
}


.modal-content {
    background-color: #4a0e0e;
    border: 3px double #d4af37;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.6);
    color: #f5e6c8;
    font-family: 'Playfair Display', serif;
    text-align: center;
    border-radius: 15px;
}

.modal-header {
    background-color: rgba(160, 130, 49, 0.2);
    border-bottom: 2px solid #d4af37;
    color: #f5e6c8;
    font-weight: bold;
    text-shadow: 1px 1px 4px #000;
}

.modal-title {
    text-align: center;
    font-size: 24px;
    color: #d4af37;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.modal-body {
    font-size: 18px;
    color: #f5e6c8;
    text-shadow: 1px 1px 3px #000;
}

.modal-footer {
    border-top: 2px solid #d4af37;
    background-color: rgba(160, 130, 49, 0.2);
}

.btn-danger {
    background-color: #a08231;
    border: 2px solid #d4af37;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #d4af37;
    color: #4a0e0e;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

.tabla th {
    width: 90px;
    /* tamaño fijo */
    height: 90px;
    /* igual altura */
    padding: 0;
    border: 2px solid #a08231;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(160, 130, 49, 0.6);
    overflow: hidden;
    vertical-align: middle;
}

.tabla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    overflow: hidden !important;
}